<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{#block "title"}}PDX Hack-A-Thon{{/block}}</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>PDX Hack-A-Thon</h1>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <!--<li role="presentation"><a href="/members/new">Register</a></li>-->
        <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Registration Menu <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/members/new">Sign Up</a></li>
            <li><a href="/members">See Registered Participants</a></li>
        </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hack Team Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {{#if teams}}
                    {{#each teams}}
                        <li><a href="/teams/{{id}}">{{title}}</a></li>
                    {{/each}}
                    <li><a href="/teams/new">Add a Hack Team</a></li>

                {{else}}
                    <li><a href="/teams/new">Add a Hack Team</a></li>
                {{/if}}
            </ul>
        </li>
    </ul>

    <div class="container">
        <!--begin main template-->
        <div class="page-header" class="well">
            <h1>Welcome to PDX Hack-A-Thon.</h1>
        </div>

        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}

        </div>
    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <br>
        <div class="container">
            <p class="text-muted"><a href="/teams/delete">Delete All Teams</a> This cannot be undone.</p>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}