{{#partial "content"}}

    <div class="well">
        <p>{{teams.title}}:</p>

        <p>{{teams.description}}</p>

        <p>
           <a href="/teams/{{team.id}}/update">Edit this entry</a>
            <br>
           <a href="/teams/{{team.id}}/delete">Delete this entry (this cannot be undone)</a>
        </p>
    </div>
{{/partial}}
{{> layout.hbs}}