{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit a Hack Team!</h1>
        <form action="/teams/update" method="post">
            <select name="editTeamId" id="editTeamId">
                {{#each teams }}
                    <option value="{{id}}">{{title}}</option>
                {{/each}}
            </select>
            <br>
            <br>
            <label for="title">Edit this team's name</label>
            <br>
            <br>
            <input id="title" name="title" placeholder="new team name">
            <br>
            <br>
            <label for="description">Edit this team's description</label>
            <br>
            <br>
            <input id="description" name="description" placeholder="new team description">
            <br>
            <br>


    {{else}}
            <h1>Add a new Team!</h1>

        <form action="/teams" method="post">
            <label for="title">Team Name</label>
            <br>
            <input id="title" name="title" type="text">
            <br>
            <br>
            <label for="description">Enter a Description for this team</label>
            <br>
            <input id="description" name="description" type="text">
            <br>
            <br>

    {{/if}}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}