{{#partial "content"}}
    <p>Here are all the members listed in the team:  {{team.title}} </p>


    <ul>
        {{#each members}}
            <li>
                <h5>Team Member Name:</h5>
                <p> {{name}}</p>
                <h5>Team Member Email:</h5>
                <p> {{contact}}</p>

                <br>
                <a href="/members/update">Edit this task</a><br>
                <a href="/members/delete">DELETE this task (These things cannot be undone)</a>
            </li>
        {{/each}}
    </ul>
    <a href="/teams/update">Edit this team</a><br>
    <a href="/teams/{{team.id}}/delete">DELETE this team (These things cannot be undone)</a>



{{/partial}}

{{> layout.hbs}}